*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #165F38;
    background-image: url('/fundo_chapeu_drone.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-box{
    width: 450px;
    height: 520px;
    background: rgba(255, 255, 255, 0.274);
    border-radius: 1rem;
    box-shadow: 5px -10px 20px rgba(0,0,0,0.30);
    backdrop-filter: blur(.6rem);
    -webkit-backdrop-filter: blur(.1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    width: 400px;
}

#sis-title{
    font-size: 31px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 60px;
    letter-spacing: 0.01px;
}

.control-form-user, .control-form-password{
    width: 85%;
}

input, #password-key, #username{
    padding-left: 10px;
    width: 400px;
    height: 35px;
    border-radius: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.432);
    font-weight: 500;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: #333;
}

#password-key:hover, #username:hover{
    border-left: 1px solid rgba(255, 255, 255, 0.582);
    border-right: 1px solid rgba(255, 255, 255, 0.582);
    border-top: 1px solid rgba(255, 255, 255, 0.582);
}

#password-key:focus, #username:focus{
    background-color: #FFF;
    border-bottom: 2px solid #FF682F;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
} 

button{
    background-color: #FF682F;
    font-size: 16px;
    width: 400px;
    height: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #FFF;
    border-radius: 6px;
    margin-top: 20px;
}

button, a{
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

button:hover{
    background-image: radial-gradient(circle, #ff682f, #f35d25, #e7511a, #db450e, #cf3900);
    scale: 1.01;
}

button:active{
    transform: translateY(0.1em);
}

#forget-password{
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}

#forget-password:hover{
    color: #FFF;
}

.footer-icons{
    display: flex;
    justify-content: space-between;
    width: 400px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

#logo-gov{
    background-image: url("/idace-logo.png");
    background-repeat: no-repeat;
    height: 90px;
    width: 150px;
    background-size: contain;
    bottom: 0;
    margin-top: 30px;
}

#logo-gov:hover{
    opacity: .8;
    scale: 1.1;
    transition: .2s;
    cursor: pointer;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1585px) {

}
  
@media (max-width: 1000px) {

}
  /* 450px */
@media (max-width: 600px) {
    .container{
        background-position: 60% 50%;
    }
    .content-box{
        width: 350px;
    }
    .form{
        width: 350px;
    }
    .control-form-user, .control-form-password{
        width: 50%;
    }
    button{
        width: 320px;
    }
    input, #password-key, #username{
        width: 320px;
    }
    #logo-gov{
        margin-left: 50px;
        height: 55px;
    }
    #sda{
        width: 90px;
        margin-right: 12px;
        margin-top: 20px;
    }
}